.container {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  padding: 10px;
}

.card-container {
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.card {
  width: 300px;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  margin: 10px;
  align-self: auto;
}

li {
  padding: 0;
  list-style: none;
}

body p {
  margin-bottom: 0;
}

.name {
  font-weight: bold;
}

.category {
  font-style: italic;
}
